* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: #eeeeee;
    color: #333333;
    margin-left: 12px;
}

body, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    font-size: 100%;
}

a, a:visited, a:active {
    color: #258;
}

h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 120%;
    padding: 8px 6px;
    text-align: center;
}
#login-buttons {
    position: fixed;
    z-index: 10;
    right: 20px;
}

#show-nav {
    cursor: pointer;
}

#main-pane {
    position: absolute;
    width: 100%;
    z-index:0;
}

#slide-list {
    position:absolute;
    z-index: inherit;
    /*z-index: 0;*/
    width: 90%; /* this is a hack because I can't figure out how to make it go all the way to the right edge, but not beyond */
}

#login-dropdown-list {
    z-index: inherit;
    /*z-index:10;*/
}

#slide-list .slide.selected-slide, #slide-list .slide.selected-slide:hover {
    background: #aaccff;
}

/*
#slide-list .slide.showing-slide {
    background: #ffccaa;
}
*/

/*
#slide-list .slide .selected-slide {
    background: #aaccff;
}
*/
#slide-list .slide {
    display: block;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #ccc;
    z-index: 0;
}

#slide-list .slide:hover {
    background: #ddd;
}

#slide-list .slide .destroy {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#slide-list .slide .statusDot, #slide-list .slide .show-slide {
    /*cursor: pointer;*/
    position: absolute;
    left: 2px; /* 30px; /* 2px */
    top: 14px;
    position: absolute;
    opacity: 1.0; /*0.5;*/
    width: 0px;
    height: 0px;
    border: 0px solid;
    border-radius: 0px;
    /*border-color: #e95cd7;*/
    /*border-color: #05f990; */
    border-color: #00ff00;
}

#slide-list .slide.showing-slide div.statusDot {
    border: 12px solid;
    border-radius: 12px;
    border-color: #05f990;
    opacity: 0.5; 
  /* there is probably a better way of centering */
  /*top: 40px;
  right: 40px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;  */
}

#slide-list .slide .slide-text {
    margin-left: 30px; /*60px; /* 30px */
    height: 100%;
    width: auto;
    float: left;
    padding-top: 18px;
    line-height: 1;
}

#slide-list .slide:hover .destroy {
	background: url('/destroy.png') no-repeat 0 0;
}

#slide-list .slide:hover .show-slide {
    border: 12px solid;
    border-radius: 12px;
    border-color: #888;
    opacity: 0.5; 
}

#slide-list .slide .destroy:hover{
	background-position: 0 -20px;
}

/*#slide-list .slide .slide-text {
    float: left;
    margin-left: 10px;
    font-size: 100%;
}
*/